<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/ETOAdmin/layout/default">

<css layout:fragment="add_css">
    <link href="/css/plugins/dropzone/basic.css" rel="stylesheet" />
    <link href="/css/plugins/dropzone/dropzone.css" rel="stylesheet" />
</css>

<div class="wrapper wrapper-content animated fadeInRight" layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Hover Table  </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Image</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="menus,index : ${eto_menus}">
                                <td th:text="${index.index}+1"></td>
                                <td th:text="${menus.title}"></td>
                                <td><img th:src="|${menus.uploadPath}${menus.fileName}|"/> </td>
                                <td th:text="${menus.description}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<js layout:fragment="add_js">
    <script src="/js/lib/plugins/dropzone/dropzone.js"></script>
    <!--custom js 추가-->
    <script src="/js/app/create_menu.js"></script>
</js>

</html>