.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/out

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
src/main/resources/static/image/test.jpg
src/main/resources/static/image/

### socketio-chat ###
src/main/java/com/bbawker/webservice/socketio-chat/node_modules/
package.json
package-lock.json