<div style="width: 100%; padding: 20px 0 80px 0;">

    {{#sessionedUser}}
    <div style="width: 15%; float: right;">
        <a href="/user/logout">Logout</a>
    </div>

    <div style="width: 15%; float: right;">
        <a href="/user/form/{{id}}">개인정보 수정</a>
    </div>

    <div style="width: 10%; float: right;">
        <a href="/user/list">List</a>
    </div>

    <div style="width: 10%; float: right;">
        <a href="/questions/list">글 목록</a>
    </div>

    <div style="width: 10%; float: right;">
        <a href="/questions/form">글쓰기</a>
    </div>
    {{/sessionedUser}}

    {{^sessionedUser}}
    <div style="width: 10%; float: right;">
        <a href="/user/loginForm">Login</a>
    </div>

    <div style="width: 15%; float: right;">
        <a href="/user/join">Join</a>
    </div>
    {{/sessionedUser}}
</div>