<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div>
        <table border="1" width="800px">
            <colgroup>
                <col width="33%"/>
                <col width="33%"/>
                <col width="33%"/>
            </colgroup>
            <thead>
                <tr>
                    <th>사용자 아이디</th>
                    <th>이름</th>
                    <th>이메일</th>
                </tr>
            </thead>
            <tbody>
                {{#users}}
                <tr>
                    <td>{{userId}}</td>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                </tr>
                {{/users}}
            </tbody>
        </table>
    </div>
</body>
</html>