                <div class="footer">
                    <div class="pull-right">
                        10GB of <strong>250GB</strong> Free.
                    </div>
                    <div>
                        <strong>Copyright</strong> Example Company &copy; 2014-2017
                    </div>
                </div>

            </div>
        </div>
        <!-- Mainly scripts -->
        <script src="/js/lib/jquery-3.1.1.min.js"></script>
        <script src="/js/lib/bootstrap.min.js"></script>
        <script src="/js/lib/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="/js/lib/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <!-- Custom and plugin javascript -->
        <script src="/js/lib/inspinia.js"></script>
        <script src="/js/lib/plugins/pace/pace.min.js"></script>

        <!-- 공통 js -->
        <script src="/js/app/common.js"></script>

    </body>

</html>

